body {
  background-color: #f4f4f4;
  overflow-x: hidden;
  font-family: "neue-haas-grotesk-display", sans-serif;
}

.container-fluid {
  justify-content: center;
  overflow-x: hidden;
  padding-left: 0;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu2 li {
  list-style: none;
}


/* Header */
.header {
  background-color: #f4f4f4;
  box-shadow: 1px 1px 5px 0px var(--gray);
  top: 0;
  width: 100%;
  height: 60px;
  z-index: 1;
}

@media screen and (min-width: 601px) {
  .header {
    position: fixed;
  }
}

@media screen and (max-width: 600px) {
  .header {
    position: sticky;
  }
}

/* Logo */

@media screen and (min-width: 601px) {
  .logo {
    height: 40px;
    margin-left: 15vw;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 600px) {
  .logo {
    height: 30px;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.logo:hover {
  opacity: 0.5;
  -webkit-filter: blur(1.5px);
}

.logo {
  -webkit-filter: blur(0px);
  display: inline-block;
  color: var(--white);
  transition: all .2s;
}

/* Nav menu */
.nav {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #f4f4f4;
  overflow: hidden;
  z-index: 1;
}

.menu2 a {
  display: block;
  padding: 16px;
  color: #000000;
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 600;
  font-size: 28px;
  text-align: right;
  z-index: 1;
}

@media screen and (min-width: 601px) {
  .menu2 a {
    margin-right: 40px;
  }
}

@media screen and (max-width: 600px) {
  .menu2 {
    margin-top: 50%;
    margin-bottom: 50%;
  }
}

@media screen and (max-width: 600px) {
  .menu2 a {
    font-size: 40px;
    text-align: center;
  }
}

.menu2 a:hover {
  text-decoration: none;
  filter: blur(2px);
  transition: 0.2s ease-in-out;
}

.nav {
  max-height: 0;
  transition: max-height .5s ease-out;
  margin-right: 15vw;
}

/* Menu Icon */
.hamb {
  cursor: pointer;
  float: right;
  padding: 25px 25px;
}

/* Style label tag */

.hamb-line {
  background: #000000;
  display: block;
  height: 3px;
  position: relative;
  width: 24px;

}

/* Style span tag */

.hamb-line::before,
.hamb-line::after {
  background: #000000;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.hamb-line::before {
  top: 5px;
}

.hamb-line::after {
  top: -5px;
}

.side-menu {
  display: none;
}

/* Hide checkbox */
/* Toggle menu icon */
.side-menu:checked~nav {
  max-height: 100%;
}

.side-menu:checked~.hamb .hamb-line {
  background: transparent;
}

.side-menu:checked~.hamb .hamb-line::before {
  transform: rotate(-45deg);
  top: 0;
}

.side-menu:checked~.hamb .hamb-line::after {
  transform: rotate(45deg);
  top: 0;
}

/* Responsiveness */
@media (min-width: 768px) {
  .nav {
    max-height: none;
    top: 0;
    position: relative;
    float: right;
    width: fit-content;
    background-color: transparent;
  }

  .menu2 li {
    float: left;
  }

  .menu2 a:hover {
    background-color: transparent;
    color: var(--gray);

  }

  .hamb {
    display: none;
  }
}












/*menu*/

/* .menuwrap {
  top: -1px;
  background-color: #f4f4f4;
  display: flex;
  justify-content: space-between;
  padding: 19px;
  right: 0px;
  width: 100vw;
  position: fixed;
  z-index: 11111;
}

.logo {
  transition: all .2s;
}

@media screen and (min-width: 601px) {
  .logo {
    width: 50px;
    margin-left: 8vw;
  }
}

@media screen and (max-width: 600px) {
  .logo {
    width: 30px;
    margin-left: 2vw;
  }
}

.logowrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logowrap img {
  -webkit-filter: blur(0px);
}

.logowrap img:hover {
  opacity: 0.5;
  -webkit-filter: blur(1.5px);
}

.navigation {
  display: flex;
  flex-direction: row;
  width: fit-content;
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 600;
}

.navigation a {
  color: #1a1a1a;
  margin-left: 17px;
  margin-right: 17px;
}

@media screen and (min-width: 601px) {
  .navigation {
    font-size: 2.5rem;
    font-kerning: normal;
    margin-right: 8vw;
  }
}

@media screen and (max-width: 600px) {
  .navigation {
    font-size: 2rem;
    margin-right: 0;
  }
}

.navigation a:hover {
  color: #a1a1a1;
  text-decoration: none;
  filter: blur(2px);
  transition: 0.2s ease-in-out;
} */





/* Cover Video */

.videowrap {
  overflow: hidden;
  margin: auto;
  position: absolute;
  height: 90vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#homevideo {
  display: block;
  margin: 0 auto;
}

@media screen and (min-width: 601px) {
  #homevideo {
    width: 75%;
  }
}

@media screen and (max-width: 600px) {
  #homevideo {
    width: 250%;
  }
}





/* Home Page */
#coverpage {
  position: relative;
  width: 100%;
  height: 90vh;
  overflow: hidden;
}

.name {
  color: #1a1a1a;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 500;
  line-height: 80%;
  margin-left: .5cm;
  letter-spacing: -5px;
  z-index: 100;
}

@media screen and (min-width: 601px) {
  .name {
    font-size: 6vw;
    margin-top: 10vh;
  }
}

@media screen and (max-width: 600px) {
  .name {
    font-size: 10vw;
    margin-top: 10vh;
  }
}

.name2 {
  color: #1a1a1a;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 500;
  line-height: 80%;
}

@media screen and (min-width: 601px) {
  .name2 {
    font-size: 3vw;
  }
}

@media screen and (max-width: 600px) {
  .name2 {
    font-size: 5vw;
  }
}





/* Homecards */

#homelist {
  padding-top: 5vh;
  display: flex;
  flex-wrap: wrap;
  margin-top: 90px;
  overflow: hidden;
  background-color: #f4f4f4;
}

#homeitem {
  height: 50vh;
  flex-grow: 1;
  margin: 1rem;
  list-style: none;
}

#homeitem:last-child {
  flex-grow: 10;
}

#imagehome {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
  opacity: 1;
  filter: saturate(0);
}

#homelist li:hover .overlayh {
  opacity: 1;
}

#homelist li:hover .texth {
  top: 50%;
}

.libox {
  background-color: #ffffff;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.texth {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .5s;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.texth a :hover {
  text-decoration: none;
}

#homea:link {
  text-decoration: none;
}


#homea:visited {
  text-decoration: none;
}


#homea:hover {
  text-decoration: none;
  color: #ffffff;
}


a:active {
  text-decoration: none;
}

#homea {
  position: relative;
  text-decoration: none;
}

#homea::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  border-radius: 1px;
  background-color: #ffffff;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

#homea:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

#homeh {
  color: white;
  position: relative;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
  font-size: 250%;
  text-align: center;
  margin: 3px;
  letter-spacing: .3rem;
  text-decoration: none;
}

.textwr {
  position: absolute;
  width: 100%;
  height: 30%;
  align-self: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  align-items: center;
}

.overlayh {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.815) 0%, rgba(0, 0, 0, 0.418) 100%);
  justify-content: center;
  align-items: center;
}

@media (max-aspect-ratio: 1/1) {
  #homeitem li {
    height: 30vh;
  }
}

// Short screens

@media (max-height: 480px) {
  #homeitem li {
    height: 80vh;
  }
}

@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
  #homelist {
    flex-direction: row;
  }

}


/* project pages */
/* #topofpage {
  margin-top: 100px;
}

.information {
  height: fit-content;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #000;
}

@media screen and (min-width: 601px) {
  .information {
    width: 35vw;
    margin-top: 300px;
  }
}

@media screen and (max-width: 600px) {
  .information {
    width: 80vw;
    margin-top: 100px;
    margin-bottom: 100px;
  }
}

.information2 {
  height: fit-content;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #000;
}
@media screen and (min-width: 601px) {
  .information2 {
    width: 35vw;
    margin-top: 300px;
  margin-bottom: 300px;
  }
}

@media screen and (max-width: 600px) {
  .information2 {
    width: 80vw;
    margin-top: 100px;
  margin-bottom: 100px;
  }
}
@media screen and (min-width: 601px) {
  #shortinfo {
    text-align: left;
  font-size: 200%;
  }
}

@media screen and (max-width: 600px) {
  #shortinfo {
    text-align: left;
  font-size: 100%;
  }
} */

/* .line {
  width: 100vw;
  height: 2px;
  background-color: #1a1a1a;
  margin-top: 10px;
  margin-bottom: 10px;

}

#projwrap {
  display: flex;
  flex-direction: row;
}

.projimgwrap {
  height: 50vh;
  width: auto;
  margin-left: 10vw;
}

.projimg {
  height: 100%;
}

.projinfo {
  color: #1a1a1a;
  padding-left: 10px;
}

#projinfo {
  text-align: end;
}

#projhead {
  font-size: 350%;
  line-height: 80%;
} */

#projectpage {
  position: relative;
  z-index: 1111;
  width: 100%;
  height: fit-content;
}


.projectimage {
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 601px) {
  .projectimage {
    width: 70vw;
  }
}

@media screen and (max-width: 600px) {
  .projectimage {
    width: 100vw;
  }
}

#trump {
  background-color: aquamarine;
}

.projectspage {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  color: #121212;
  line-height: 85%;
}

@media screen and (min-width: 601px) {
  .projectspage {
    font-size: 11vw;
    padding-left: .8cm;
    margin-top: 12vh;
  }
}

@media screen and (max-width: 600px) {
  .projectspage {
    font-size: 10vw;
    padding-left: 1vw;
    padding-top: 15vh;
  }
}

.footer {
  margin-top: 60px;
  bottom: 0;
  position: relative;
  width: 100%;
  min-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media screen and (min-width: 601px) {
  .footer {
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 600px) {
  .footer {
    padding-bottom: 0px;
  }
}

.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

@media screen and (min-width: 601px) {
  .menu {
    height: 20px;
  }
}

@media screen and (max-width: 600px) {
  .menu {
    height: 0px;
  }
}

.menu__item {
  list-style: none;
  text-decoration: none;
}

.menu__link {
  color: #000000;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

@media screen and (min-width: 601px) {
  .menu__link {
    font-size: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .menu__link {
    font-size: 1.5rem;
  }
}

.menu__link:hover {
  text-decoration: none;
  filter: blur(2px);
  transition: 0.2s ease-in-out;
  color: #000000;
}

.footer p {
  color: #adadad;
  font-size: 1.5rem;
  font-weight: 300;
  margin-top: 10px;
}


/* Contact Page */
#contactheader {
  color: #000;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 500;
}


@media screen and (min-width: 601px) {
  .contact {
    margin-top: 200px;
    font-size: 3vw;
    text-align: right;
  }
}

@media screen and (max-width: 600px) {
  .contact {
    font-size: 5vw;
    padding-top: 2vh;
    text-align: center;
  }
}

@media screen and (min-width: 601px) {
  .profile {
    margin-top: 20vh;
  }
}

@media screen and (max-width: 600px) {
  .profile {
    margin-top: 2vh;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 601px) {
  .profilepic {
    width: 250px;
  }
}

@media screen and (max-width: 600px) {
  .profilepic {
    width: 120px;
  }
}

#connect {
  margin: 0px;
  color: #000;
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 600;
}

@media screen and (min-width: 601px) {
  #connect {
    font-size: 300%;
    padding-top: 20vh;
  }
}

@media screen and (max-width: 600px) {
  #connect {
    font-size: 150%;
    text-align: center;
    margin-top: 100px;
  }
}

#connect2 {
  margin: 0px;
  color: #000;
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 500;
  line-height: 200%;
}

#connect2 a {
  text-decoration: none;
  color: #a1a1a1;
  font-family: "neue-haas-grotesk-text",sans-serif;
  font-weight: 500;
}

@media screen and (min-width: 601px) {
  #connect2 {
    font-size: 200%;
  }
}

@media screen and (max-width: 600px) {
  #connect2 {
    font-size: 100%;
    text-align: center;
  }
}


#bio {
  margin: 0px;
  color: #000;
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 600;
}

@media screen and (min-width: 601px) {
  #bio {
    font-size: 250%;
  }
}

@media screen and (max-width: 600px) {
  #bio {
    font-size: 150%;

  }
}

@media screen and (min-width: 601px) {
  .info {
    width: 50%;
    margin-top: 250px;
  }
}

@media screen and (max-width: 600px) {
  .info {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}

#bio2 {
  margin: 0px;
  color: #000;
  font-family: "neue-haas-grotesk-text",sans-serif;
  font-weight: 400;
  line-height: 120%;
}

@media screen and (min-width: 601px) {
  #bio2 {
    font-size: 175%;
    text-align: left;
  }
}

@media screen and (max-width: 600px) {
  #bio2 {
    font-size: 90%;
    text-align: center;
  }
}

/* owproducts video */
.videowrap2 {
  overflow: hidden;
  margin: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}


@media screen and (min-width: 601px) {
  .videowrap2 {
    width: 70vw;
  }
}

@media screen and (max-width: 600px) {
  .videowrap2 {
    width: 100vw;

  }
}

#homevideo2 {
  display: block;
  margin: 0 auto;
}
#under {
  width: 100vw;
  height: 80vh;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}
#construction {
  text-align: center;
  font-size: 3rem;
  font-family: 'Times New Roman', Times, serif;
}
