body {
  background-color: #efeeec;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

.container-fluid {
  justify-content: center;
  padding-left: 0;
  color: #2f2f2f;
  background-color: #efeeec;
}

@media screen and (max-width: 600px) {
  .container-fluid {
    overflow: hidden;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu2 li {
  list-style: none;
}

/* Header */
.header {
  background-color: #efeeec;
  box-shadow: 1px 1px 5px 0px var(--gray);
  top: 0;
  width: 100%;
  height: 40px;
  z-index: 100;
}

@media screen and (min-width: 601px) {
  .header {
    position: fixed;
  }
}

@media screen and (max-width: 600px) {
  .header {
    position: fixed;
  }
}

/* Logo */

@media screen and (min-width: 601px) {
  .logo {
    height: 25px;
    margin-left: 15vw;
    margin-top: 8px;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 600px) {
  .logo {
    height: 20px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 10px;
  }
}

.logo:hover {
  opacity: 0.5;
  -webkit-filter: blur(1.5px);
}

.logo {
  -webkit-filter: blur(0px);
  display: inline-block;
  color: var(--white);
  transition: all 0.2s;
}

/* Nav menu */
.nav {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #efeeec;
  overflow: hidden;
  z-index: 2;
  top: 40px;
}

.menu2 a {
  display: block;
  padding: 6px;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 18px;
  text-align: right;
  z-index: 1;
}

@media screen and (min-width: 601px) {
  .menu2 a {
    margin-right: 40px;
  }
}

@media screen and (max-width: 600px) {
  .menu2 {
    margin-top: 50%;
    margin-bottom: 50%;
  }
}

@media screen and (max-width: 600px) {
  .menu2 a {
    font-size: 40px;
    text-align: center;
  }
}

.menu2 a:hover {
  text-decoration: none;
  filter: blur(2px);
  transition: 0.2s ease-in-out;
}

.nav {
  max-height: 0;
  transition: max-height 0.5s ease-out;
  margin-right: 15vw;
}

/* Menu Icon */
.hamb {
  cursor: pointer;
  float: right;
  padding: 25px 25px;
}

/* Style label tag */

.hamb-line {
  background: #000000;
  display: block;
  height: 3px;
  position: relative;
  width: 24px;
}

/* Style span tag */

.hamb-line::before,
.hamb-line::after {
  background: #000000;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.hamb-line::before {
  top: 5px;
}

.hamb-line::after {
  top: -5px;
}

.side-menu {
  display: none;
}

/* Hide checkbox */
/* Toggle menu icon */
.side-menu:checked ~ nav {
  max-height: 100%;
}

.side-menu:checked ~ .hamb .hamb-line {
  background: transparent;
}

.side-menu:checked ~ .hamb .hamb-line::before {
  transform: rotate(-45deg);
  top: 0;
}

.side-menu:checked ~ .hamb .hamb-line::after {
  transform: rotate(45deg);
  top: 0;
}

/* Responsiveness */
@media (min-width: 768px) {
  .nav {
    max-height: none;
    top: 0;
    position: relative;
    float: right;
    width: fit-content;
    background-color: transparent;
  }

  .menu2 li {
    float: left;
  }

  .menu2 a:hover {
    background-color: transparent;
    color: var(--gray);
  }

  .hamb {
    display: none;
  }
}

/* Cover Video */

.videowrap {
  overflow: hidden;
  margin: auto;
  position: absolute;
  height: 90vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#homevideo {
  display: block;
  margin: 0 auto;
}

@media screen and (min-width: 1025px) {
  #homevideo {
    width: 75%;
  }
}

@media screen and (max-width: 1024px) {
  #homevideo {
    width: 250%;
  }
}

/* Home Page */
#coverpage {
  position: relative;
  width: 100%;
  height: 90vh;
  overflow: hidden;
  margin-bottom: 10vh;
}

.name {
  color: #1a1a1a;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 80%;
  margin-left: 1cm;
  letter-spacing: -2pt;
  z-index: 100;
}

.i {
  font-size: 13vw;
  position: absolute;
  margin-left: 20px;
  margin-top: 0vh;
  line-height: 100%;
  z-index: 5;
}

.p {
  font-size: 6vw;
  position: absolute;
  margin-right: 20px;
  bottom: 0vh;
  right: 0;
  line-height: 100%;
}

.k {
  font-size: 6vw;
  position: absolute;
  margin-right: 20px;
  margin-top: auto;
  margin-bottom: auto;
  bottom: 55vh;
  font-weight: 600;
  line-height: 100%;
  z-index: 5;
}

#span1 {
  font-family: Arial, Helvetica, sans-serif;
  content: "\21F1";
  font-size: 15vw;
}

#span2 {
  font-family: Arial, Helvetica, sans-serif;
  content: "\21F1";
  font-size: 7vw;
}

#fpl {
  text-decoration: none;
  color: #2f2f2f;
  z-index: 4;
}

@media screen and (min-width: 601px) {
  .name {
    font-size: 6vw;
    margin-top: 10vh;
  }

  #homecard {
    height: fit-content;
    min-height: 100vh;
    width: 100vw;
    margin-top: 40vh;
    overflow: hidden;
  }
}

@media screen and (max-width: 600px) {
  .name {
    font-size: 10vw;
    margin-top: 10vh;
  }

  #homecard {
    height: 50vh;
    margin-top: 10vh;
    overflow: hidden;
  }
}

#lvz {
  z-index: 11;
  position: absolute;
  margin-right: 20px;
  margin-top: auto;
  margin-bottom: auto;
}

.name2 {
  color: #1a1a1a;
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
  line-height: 80%;
}

@media screen and (min-width: 601px) {
  .name2 {
    font-size: 3vw;
  }
}

@media screen and (max-width: 600px) {
  .name2 {
    font-size: 5vw;
    letter-spacing: 1%;
  }
}

/* Homecards */

#homelist {
  padding-top: 5vh;
  display: flex;
  flex-wrap: wrap;
  margin-top: 90px;
  overflow: hidden;
  background-color: #f4f4f4;
}

#homeitem {
  height: 50vh;
  flex-grow: 1;
  margin: 1rem;
  list-style: none;
}

#homeitem:last-child {
  flex-grow: 10;
}

#imagehome {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
  opacity: 1;
  filter: saturate(0);
}

#homelist li:hover .overlayh {
  opacity: 1;
}

#homelist li:hover .texth {
  top: 50%;
}

.libox {
  background-color: #ffffff;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.texth {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.texth a :hover {
  text-decoration: none;
}

#homea:link {
  text-decoration: none;
}

#homea:visited {
  text-decoration: none;
}

#homea:hover {
  text-decoration: none;
  color: #ffffff;
}

a:active {
  text-decoration: none;
}

#homea {
  position: relative;
  text-decoration: none;
}

#homea::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  border-radius: 1px;
  background-color: #ffffff;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

#homea:hover::before {
  transform: scaleX(1);
}

#homeh {
  margin: auto;
  color: white;
  position: relative;
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
  text-align: center;
  margin: 3px;
  letter-spacing: 0.3rem;
  text-decoration: none;
}

@media screen and (min-width: 601px) {
  #homeh {
    font-size: 200%;
  }
}

@media screen and (max-width: 600px) {
  #homeh {
    font-size: 100%;
  }
}

.textwr {
  position: absolute;
  width: 100%;
  height: 30%;
  align-self: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  align-items: center;
}

.overlayh {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.815) 0%,
    rgba(0, 0, 0, 0.418) 100%
  );
  justify-content: center;
  align-items: center;
}

@media (max-aspect-ratio: 1/1) {
  #homeitem li {
    height: 30vh;
  }
}

// Short screens

@media (max-height: 480px) {
  #homeitem li {
    height: 80vh;
  }
}

@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
  #homelist {
    flex-direction: row;
  }
}






/* project pages */
#topofpage {
  margin-top: 40px;
}
.information p {
  height: fit-content;
  display: block;
  width: 45vw; min-width: 300px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20vh;
  padding-bottom: 20vh;
  font-size: clamp(15px, 1.3vw, 22px);
}
#leftlabel {
  margin-top: 40px;
  margin-bottom: 15px;
  font-style: italic;
  font-size: clamp(12px, .8vw, 22px);
  font-weight: 500;
  color: #9f9f9f;
}
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  
}

@media screen and (min-width: 1025px) {
  #leftlabel {
    margin-left: 15vw;;
  }
}

@media screen and (max-width: 1024px) {
  #leftlabel {
    margin-left: 10px;;
  }
}
/* @media screen and (min-width: 1025px) {
  #leftlabel {
    margin-top: 40px;
    margin-bottom: 15px;
    margin-left: 15vw;
    font-style: italic;
    font-size: 2rem;
    font-weight: 500;
    color: #9f9f9f;
  }
}

@media screen and (max-width: 1024px) {
  #leftlabel {
    margin-top: 30px;
  }
}

@media screen and (min-width: 1025px) {
  #topofpage {
    margin-top: 100px;
  }
}

@media screen and (max-width: 1024px) {
  #topofpage {
    margin-top: 30px;
  }
}

.information {
  height: fit-content;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #000;
}

#maltinfo {
  margin-bottom: 200px;
}

@media screen and (min-width: 1025px) {
  .information {
    width: 35vw;
    margin-top: 300px;
  }
}

@media screen and (max-width: 1024px) {
  .information {
    width: 80vw;
    margin-top: 100px;
    margin-bottom: 100px;
  }
}

.information2 {
  height: fit-content;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #000;
}

@media screen and (min-width: 1025px) {
  .information2 {
    width: 35vw;
    margin-top: 300px;
    margin-bottom: 300px;
  }
}

@media screen and (max-width: 1024px) {
  .information2 {
    width: 80vw;
    margin-top: 100px;
    margin-bottom: 100px;
  }
}

@media screen and (min-width: 1025px) {
  #shortinfo {
    text-align: left;
    font-size: 200%;
    font-weight: 400;
    color: #4e4e4e;
  }
}

@media screen and (max-width: 1024px) {
  #shortinfo {
    text-align: left;
    font-size: 100%;
    font-weight: 400;
    color: #4e4e4e;
  }
} */

/* Project Page */
@media only screen and (max-width: 1024px) {
  #row1 {
    display: none;
  }

  #row2 {
    display: contents;
  }
  .row1 {
    display: none;
  }

  .row2 {
    display: contents;
  }
}

@media only screen and (min-width: 1025px) {
  #row1 {
    display: contents;
  }

  #row2 {
    display: none;
  }
  .row1 {
    display: contents;
  }

  .row2 {
    display: none;
  }
}

/* Small Screen */
@media only screen and (max-width: 600px) {
  .line {
    width: 95vw;
    height: 1px;
    margin: auto;
    background-color: #1a1a1a;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .projtitle {
    text-align: left;
    margin: auto;
    margin-left: 30px;
    margin-right: 30px;
  }

  .projinfo {
    display: flex;
    flex-direction: column;
  }

  .projinfo2 {
    display: flex;
    flex-direction: column;
  }

  #projheader {
    font-weight: 400;
    color: #000;
    line-height: 105%;
  }

  #projdescription {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #9f9f9f;
    margin-bottom: 20px;
    font-size: 1.2rem;
  }

  .projdetails {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    margin-left: 80px;
  }

  .projdetails2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    margin-left: 0px;
  }

  #projsmallheader {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #9f9f9f;
  }

  #tags {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: 400;
    color: #9f9f9f;
  }

  .tags {
    width: fit-content;
    height: fit-content;
    bottom: 0;
  }

  .seemore {
    width: 300px;
    height: 100%;
    position: relative;
  }

  #seemore {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #000;
    font-size: 1.5rem;
  }

  .seemore a {
    list-style: none;
  }

  .seemore a:hover {
    filter: blur(2px);
    transition: 0.2s ease-in-out;
    text-decoration: none;
  }

  .seemore {
    width: 100%;
  }

  .see {
    position: relative;
    margin-top: 0px;
    float: right;
    margin-right: 30px;
  }
}

/* Medium Screen */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .line {
    width: 95vw;
    height: 1px;
    margin: auto;
    background-color: #1a1a1a;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .projinfo {
    display: flex;
    flex-direction: column;
  }

  .projinfo2 {
    display: flex;
    flex-direction: column;
  }

  .projtitle {
    text-align: left;
    margin: auto;
    margin-left: 15vw;
    margin-right: 15vw;
  }

  #projheader {
    color: #000;
    font-size: 4rem;
    font-weight: 400;
    line-height: 105%;
  }

  #projdescription {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #9f9f9f;
    margin-top: -10px;
    margin-bottom: 20px;
    font-size: 1.5rem;
  }

  .projdetails {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    margin-left: 80px;
  }

  .projdetails2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    margin-left: 0px;
  }

  #projsmallheader {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #9f9f9f;
  }

  #tags {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: 400;
    color: #9f9f9f;
  }

  .tags {
    width: fit-content;
    height: fit-content;
    bottom: 0;
  }

  .seemore {
    width: 300px;
    height: 100%;
    position: relative;
  }

  #seemore {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #000;
    font-size: 2rem;
  }

  .seemore a {
    list-style: none;
  }

  .seemore a:hover {
    filter: blur(2px);
    transition: 0.2s ease-in-out;
    text-decoration: none;
  }

  .seemore {
    width: 100%;
  }

  .see {
    position: relative;
    margin-top: 0px;
    float: right;
    margin-right: 30px;
  }
}

.projectimage {
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1025px) {
  #projectcol {
    height: 60vh;
  }

  .projinfo {
    height: 60vh;
    padding-left: 50px;
  }

  .projinfo2 {
    height: 60vh;
    padding-left: 0px;
    padding-right: 80px;
  }

  .projtitle {
    width: 20vw;
    text-align: left;
    margin: auto;
    margin-left: 80px;
    margin-right: 30px;
  }

  .projtitle2 {
    width: 20vw;
    text-align: left;
    margin: auto;
    margin-left: 0px;
    margin-right: 30px;
  }

  #seemore {
    font-size: 2.5rem;
    right: 0%;
  }

  .see {
    position: absolute;
    bottom: 0px;
    right: 0px;
  }

  .projectimage {
    width: 70vw;
  }

  .projimgwrap {
    position: relative;
    float: left;
    max-width: 45vw;
    overflow: hidden;
  }

  .projimgwrap2 {
    position: relative;
    float: right;
    max-width: 45vw;
    overflow: hidden;
  }

  .projimgwrap2 img {
    height: 60vh;
  }

  .projimgwrap img {
    height: 60vh;
  }

  #tags {
    font-size: 1.5rem;
    line-height: 120%;
  }

  #projsmallheader {
    font-size: 1.5rem;
  }

  #projdescription {
    font-size: 2rem;
  }
}

@media screen and (max-width: 1024px) {
  #projectcol {
    padding: 0px;
    height: 40vh;
    overflow: hidden;
  }

  #projectcol2 {
    padding: 0px;
    height: fit-content;
    overflow: hidden;
  }

  .projinfo {
    height: fit-content;
  }

  .projectimage {
    width: 100vw;
  }

  .projimgwrap {
    width: auto;
    height: 40vh;
    display: flex;
    align-items: center;
  }

  .projimgwrap img {
    height: 40vh;
    margin: auto;
  }
}

/* Footer */
.footer {
  margin-top: 100px;
  bottom: 0;
  position: relative;
  width: 100%;
  min-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.menu__item {
  list-style: none;
  text-decoration: none;
}

.menu__link {
  color: #000000;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  text-decoration: none;
  filter: blur(2px);
  transition: 0.2s ease-in-out;
  color: #000000;
}

.footer p {
  color: #adadad;
  font-size: 1.5rem;
  font-weight: 300;
  margin-top: 10px;
}

@media screen and (min-width: 601px) {
  .menu {
    height: 20px;
  }

  .menu__link {
    font-size: 2rem;
  }

  .footer {
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 600px) {
  .menu {
    height: 0px;
  }

  .menu__link {
    font-size: 1.5rem;
  }

  .footer {
    padding-bottom: 0px;
  }
}

/* Contact and About Page */

/* Large Screen */
@media screen and (min-width: 1025px) {
  #contactheader {
    color: #2f2f2f;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    position: absolute;
    bottom: -10vh;
    right: 50%;
  }

  #connect {
    margin: 0px;
    color: #2f2f2f;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
  }

  #connect2 {
    color: #2f2f2f;
    font-weight: 500;
    line-height: 200%;
  }

  #connect2 a {
    text-decoration: none;
    color: #2f2f2f;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
  }

  #bio {
    margin: 0px;
    color: #2f2f2f;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
  }

  #bio2 {
    color: #2f2f2f;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 120%;
  }

  .contact {
    width: 100%;
    height: 30vh;
    font-size: 4vw;
    text-align: right;
    float: left;
    position: relative;
  }

  #connect {
    font-size: 2rem;
    line-height: 100%;
  }

  #connect2 {
    font-size: 2rem;
    line-height: 140%;
  }

  #bio {
    font-size: 250%;
  }

  .info {
    width: 100%;
    float: right;
    height: 50vh;
    padding-left: 50%;
    padding-right: 20%;
  }

  #bio2 {
    font-size: 1.5rem;
  }
}

/* Medium Screen */
@media screen and (min-width: 601px) and (max-width: 1024px) {
  #contactheader {
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
  }

  #connect {
    margin: 0px;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-align: left;
    font-size: 3rem;
    margin-top: 100px;
  }

  #connect2 {
    margin: 0px;
    color: #000;
    font-weight: 500;
    line-height: 200%;
    font-size: 3rem;
    line-height: 140%;
  }

  #connect2 a {
    text-decoration: none;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
  }

  #bio {
    margin: 0px;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 150%;
  }

  #bio2 {
    margin: 0px;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 120%;
    font-size: 110%;
    text-align: left;
  }

  .contact {
    font-size: 7vw;
    padding-top: 2vh;
    text-align: left;
    margin-left: 20px;
  }

  .info {
    margin-left: 20px;
    width: 50%;
    display: flex;
    flex-direction: column;
  }

  .aboutinfo {
    width: 80vw;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: auto;
  }
}

/* Small Screen */
@media screen and (max-width: 600px) {
  #contactheader {
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
  }

  #connect {
    margin: 0px;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-align: left;
    font-size: 2rem;
    margin-top: 100px;
  }

  #connect2 {
    margin: 0px;
    color: #000;
    font-weight: 500;
    line-height: 200%;
    font-size: 2rem;
    line-height: 140%;
  }

  #connect2 a {
    text-decoration: none;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
  }

  #bio {
    margin: 0px;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 150%;
  }

  #bio2 {
    margin: 0px;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 120%;
    font-size: 90%;
    text-align: left;
  }

  .contact {
    font-size: 7vw;
    padding-top: 2vh;
    text-align: left;
    margin-left: 20px;
  }

  .info {
    margin-left: 20px;
    width: 70%;
    display: flex;
    flex-direction: column;
  }

  .aboutinfo {
    width: 80vw;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: auto;
  }
}

/* owproducts video */
.videowrap2 {
  overflow: hidden;
  margin: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1025px) {
  .videowrap2 {
    width: 70vw;
  }
}

@media screen and (max-width: 1024px) {
  .videowrap2 {
    width: 105vw;
  }
}

/* Gallery Page */
#gallerycol {
  justify-content: space-around;
  display: flex;
  flex-direction: column;
}

.gcol {
  object-fit: contain;
  display: flex;
  flex-direction: column;
}

.gcol a img {
  display: ;
  margin-bottom: 1vw;
  width: 100%;
  height: auto;
  object-fit: contain;
}

#galleryrow {
  padding: 2vw;
}

#projectshowimg {
  position: absolute;
}

@media screen and (min-width: 1025px) {
  #projectlist {
    margin-top: 0px;
    padding: 80px;
    height: 80vh;
    font-size: 5vh;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    list-style: none;
    line-height: 120%;
  }

  #projectshowimg {
    display: block;
  }
}

@media screen and (max-width: 1024px) {
  #projectlist {
    display: none;
  }

  #projectshowimg {
    display: none;
  }
}

#projectlist a {
  text-decoration: none;
  color: #2f2f2f;
}

#projectlist:hover > * {
  opacity: 0.4;
}

#projectlist > *:hover {
  opacity: 1;
}

#projectlist > * {
  transition: 200ms;
}

.card {
  position: absolute;
  width: 35vw;
  right: 50px;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: 200ms;
}

.card p {
  font-size: small;
}

.card img {
  width: 35vw;
  margin-top: 10vh;
}

body:has(#vaultproj:hover) #p1 {
  opacity: 1;
}

body:has(#drewproj:hover) #p2 {
  opacity: 1;
}

body:has(#lvproj:hover) #p3 {
  opacity: 1;
}

body:has(#maltproj:hover) #p4 {
  opacity: 1;
}

body:has(#owfogproj:hover) #p5 {
  opacity: 1;
}

body:has(#uxproj:hover) #p6 {
  opacity: 1;
}

body:has(#carproj:hover) #p7 {
  opacity: 1;
}

body:has(#nikeproj:hover) #p8 {
  opacity: 1;
}

body:has(#showproj:hover) #p9 {
  opacity: 1;
}

body:has(#magproj:hover) #p10 {
  opacity: 1;
}

body:has(#owprodproj:hover) #p11 {
  opacity: 1;
}

body:has(#porscheproj:hover) #p12 {
  opacity: 1;
}
